@font-face {
    font-family: 'SFSerif-Display';
    src: url('../SF%20Serif/Serif-UI-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Display';
    src: url('../SF%20Serif/Serif-UI-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Display';
    src: url('../SF%20Serif/Serif-UI-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Display';
    src: url('../SF%20Serif/Serif-UI-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}