@font-face {
    font-family: 'SFSerif-Text';
    src: url('../SF%20Serif/Serif-UI-Text-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Text';
    src: url('../SF%20Serif/Serif-UI-Text-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Text';
    src: url('../SF%20Serif/Serif-UI-Text-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFSerif-Text';
    src: url('../SF%20Serif/Serif-UI-Text-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}