.our_achievments_area{
    background: url("../images/achievments_bg.jpg") no-repeat fixed;
    background-position: center;
    text-align: center; 
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
    }
    .tittle{
        h2{
            color: #fff;
        }
        h4{
            color: #fefefe;
        }
    }
    .achievments_row{
        padding-top: 60px;
        .completed{
            text-align: center;
            border-right: 3px solid #fff;
            &:last-child{
                border: 0;
            }
            i{
                font-size: 30px;
                color: #fff;
                display: block;
                padding-top: 10px;
            }
            .counter{
                font: 700 40px $roboto;
                color: $bc;
                display: block;
                padding-top: 23px;
            }
            h6{
                font: 400 14px $roboto;
                color: #fff;
                padding-top: 20px;
                text-transform: uppercase;
                padding-bottom: 5px;
            }
        }
    }
} 