.call_min_area{
    background: $bc;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 100px;
    h2{
        font: 400 60px $roboto;
        color: #fff;
    }
    P{
        font: 400 30px/36px $roboto;
        color: #fefefe;
        text-transform: uppercase;
        max-width: 900px;
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 20px;
    }
    .call_btn{ 
        a{
            display: inline-block;
            border: 2px solid #fff; 
            font: 400 18px/56px $roboto;
            color: #fefefe;
            margin-left: 20px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}