.building_construction_area{
    .building_construction_row{
        padding-top: 95px;
        padding-bottom: 95px;
        .constructing_laft{
            h2{
                font: 700 24px $roboto;
                color: $h2;
                text-transform: uppercase;
                padding-bottom: 35px;
            }
            img{
                max-width: 100%;
            }
            a{
                font: 700 24px $roboto;
                color: $h2;
                text-transform: uppercase;
                padding-bottom: 25px;
                display: block;
                padding-top: 25px;
                &:hover, &:focus{
                    color: $bc;
                }
            }
            p{
                font: 400 14px/26px $roboto;
                color: $p; 
            }
            .ipsum{
                padding-left: 0;
                padding-top: 15px;
                .excavator{
                    padding: 0;
                    padding-top: 15px;
                    li{
                        list-style: none;
                        font: 400 14px/26px $roboto;
                        color: $p;
                        i{
                            color: $bc;
                            padding-right: 30px;
                        }
                    }
                }
            }
            .ipsum_img{
                padding-top: 25px;
                padding-bottom: 16px;
                img{
                    max-width: 100%;
                }
            }
        }
        .constructing_right{
            h2{
                font: 700 24px $roboto;
                color: $h2;
                text-transform: uppercase;
                padding-bottom: 35px;
            }
            .painting{
                padding: 0;
                padding-bottom: 40px;
                li{
                    list-style: none;
                    padding-bottom: 10px;
                    a{
                        font: 700 14px/50px $roboto;
                        color: $p;
                        background: #f5f5f5;
                        display: block;
                        padding-left: 25px;
                        i{
                            font-size: 18px;
                            padding-right: 20px;
                        }
                        &:hover, &:focus{
                            color: $bc;
                        }
                    }
                }
            }
            .contact_us{
                background: $bc;
                padding: 30px;
                h4{
                    font: 400 14px/1 $roboto;
                    color: #fefefe;
                    text-transform: uppercase;
                    padding-bottom: 25px;
                }
                .contac_namber{
                    font: 700 18px/26px $roboto;
                    color: #fefefe;
                    display: block;
                } 
                p{
                    font: 400 14px/26px $roboto;
                    color: #fefefe; 
                    padding-top: 20px;
                    padding-bottom: 25px;
                }
                .button_all{
                    width: 150px;
                    border: 2px solid #fff;
                    background-color: transparent;
                    font: 400 14px/36px $roboto;
                    color: #fefefe;
                }
            }
        }
    }
}