/* Map Css */
.contact_map{ 
    iframe{
        height: 495px;
        width: 100%;
    }
}
/* End Map Css */

/* All contact Info Css */
.all_contact_info{
    .contact_row{
        padding: 100px 0;
        .contact_info{
            h2{
                font: 700 26px/1 $roboto;
                color: $h2;
                padding-bottom: 30px;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 80px;
                    background: $bc;
                    left: 0; 
                    bottom: 0;
                }
            }
            p{
                font: 400 14px/26px $roboto;
                color: $p;
                padding-top: 30px; 
            }
            .location{
                padding-top: 55px;
                a{
                    font: 400 14px/28px $roboto;
                    color: $p;
                    display: block;
                    text-transform: uppercase;
                    &:hover, &:focus{
                        color: $bc;
                    }
                }
                .f_location{
                    padding-bottom: 30px;
                }
                .location_laft{
                    width: 98px;
                    float: left;
                }
                .address{
                    a{
                        text-transform: none;
                    }
                }
                
            }
        }
        .send_message{ 
            .contact_box{ 
                padding-top: 30px;
                .input_box{
                    border: 1px solid #dfe3e4;
                    border-radius: 0;
                    box-shadow: none;
                    outline: none;
                    height: 50px;
                    padding-left: 15px;
                    width: 100%;
                    color: #d3dadf;
                    margin-bottom: 20px;
                    @include placeholder{
                        color: #d3dadf;
                    }
                }
                textarea{
                    height: 120px !important;
                    resize: none;
                }
                button{
                    color: #fefefe;
                    font: 400 14px/40px $roboto;
                    background: $bc;
                    width: 140px; 
                    color: $h2;
                    border: 0; 
                    border-radius: 0; 
                    text-transform: uppercase;
                     &:hover, &:focus{
                         color: $bc; 
                         background: $h2;
                    }
                }
            }
        }
    }
}
/* End All contact Info Css */