.our_feature_area{
    padding-bottom: 90px;
    background: #fefefe;
    .feature_row{
        padding-top: 70px;
        .feature_img{
            padding-top:10px;
            img{
                max-width: 100%;
            }
        }
        .feature_content{
            .subtittle{
                padding-bottom: 40px;
            }
            .media{
                padding-bottom: 15px;
                .media-left{
                    padding-right: 30px;
                    a{
                        i{
                            font-size: 24px;
                            color: $bc;
                            line-height:50px;
                            width: 60px;
                            text-align: center;
                            background: #333333;
                            border: 5px solid $bc;
                        }
                    }
                }
                .media-body{
                    a{
                        font: 700 18px $roboto;
                        color: $h2;
                        text-transform: uppercase;
                        &:hover, &:focus{ 
                            color: $bc; 
                        }
                    }
                    p{
                        font: 400 14px/26px $roboto;
                        color: $p;
                        padding-top: 20px;
                    }
                } 
            }
        }
    }
}