.what_we_area{
    background: #f8b81d; 
    .tittle{
        h2{
            &:after{
                background: #fff;
            }
        }
        h4{
            color: #333;
        }
    }
    .construction_iner{
        padding-top: 60px;
        padding-bottom: 70px;
        .construction{
            text-align: center;
            padding-bottom: 30px;
            cursor: move;
            .cns-img{ 
                z-index: 2;
                img{
                    max-width: 100%;
                }
            }
            .cns-content{
                background: #fff;
                padding:0 30px;
                padding-bottom: 20px;  
                margin-top: -30px;
                i{
                    color: #fff;
                    font-size: 24px;
                    background: #333333;
                    line-height: 60px;
                    width: 60px;
                    display: block;
                    margin: 0 auto;
                    z-index: 1;
                    @include transition;
                    position: relative;
                }
                a{
                    font: 700 18px $roboto;
                    text-transform: uppercase;
                    color: $h2;
                    padding-top: 17px;
                    display: block;
                }
                p{
                    font: 400 14px/26px $roboto;
                    color: $p;
                    padding-top: 20px;
                }
            }
            
            &:hover, &:focus{
                a{
                    color: $bc;
                } 
                i{
                    font-size: 35px; 
                }
            }
        }
    }
}