/*Prefix Styles*/
.m0{margin: 0;}
.p0{padding: 0;}

body{
	font-family: $roboto;
    h1,h2,h3,h4,h5,h6{
        margin: 0;
    }
	p{
		font-family: $roboto;
		line-height: 26px;
		color: $p;
        margin: 0; 
	}

	/*Section Fix*/
	section, header, footer{
		&.row{            
			margin: 0; 
		}
	} 
}
/*Ancore*/
a,.btn,button{
    outline: none;
    @include transition;
    &:before,&:after{
        @include transition;
    }
    &:focus,&:hover{  
        outline: none;
        text-decoration: none;
        @include transition; 
    }
}  
 