.our_team_area{
    padding-bottom: 70px;
    background: #fefefe;
    .team_row{
        padding-top: 70px;
        .team_membar{
            height: 378px;
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            img{
                max-width: 100%; 
            }
            .team_content{
                background: $bc;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                ul{
                    padding: 0;
                    margin: 0;
                    height: 0px;
                    overflow: hidden;
                    @include transition;
                    li{
                        list-style: none;
                        padding-left: 20px;
                        display: inline-block;
                        &:first-child{
                            padding: 0;
                        } 
                        a{
                            font-size: 14px;
                            color: #fff;
                            line-height: 43px;
                            width: 45px;
                            text-align: center;
                            border-radius: 50%;
                            border: 1px solid #fff;
                            display: block; 
                            &:hover, &:focus{
                                color: $bc;
                                background: #fff;
                            }
                        }
                    }
                } 
                .name{
                    font: 700 14px $roboto;
                    color: #fff;
                    display: block;
                    text-transform: uppercase;
                    padding-top: 10px;
                }
                h6{
                    font: 400 14px $roboto;
                    color: #fff;
                    padding-top: 5px;
                }
            }
            &:hover, &:focus{
                .team_content{
                    ul{
                        height: 50px;
                    }
                }
            }
        }
    }
}