/* Testimonial Area */
.testimonial_area{
    padding-bottom: 90px;
    background: #fefefe;
    .testimonial_carosel{
        padding-top: 60px;
        .item{
            .media{
                max-width: 260px;
                margin: 0 auto;
                padding-bottom: 35px;
                .media-left{
                    padding-right: 30px;
                    a{
                        img{
                            width: auto;
                        }
                    }
                }
                .media-body{
                    padding-top: 40px;
                    h4{
                        font: 700 14px $roboto;
                        text-transform: uppercase;
                        color: $h2;
                    }
                    h6{
                        font: 400 italic 14px $roboto;
                        color: $p;
                        padding-top: 5px;
                    }
                }
            }
            p{
                font: 400 italic 14px/26px $roboto;
                color:$bc;
                max-width: 945px;
                margin: 0 auto;
                text-align: center;
                padding-bottom: 50px;
                i{
                    color: $p;
                    font-size: 18px;
                    display: block;
                    
                }
                .fa-quote-left{
                    text-align: right;
                    padding-top: 5px;
                }
                .fa-quote-right{
                    text-align: left;
                    padding-bottom: 5px;
                }
            }
        }
        .owl-controls{
            text-align: center;
            .owl-dots{
                .owl-dot{
                    height: 10px;
                    width: 10px;
                    border: 2px solid $p;
                    margin-left: 15px;
                    display: inline-block;
                    @include transition;
                    border-radius: 50%;
                    &:hover, &:focus, &.active{
                        background: $bc;
                        border: 2px solid $bc;
                    }
                }
            }
        }
    }
}
/* End Testimonial Area */

/* Our Partners Area */
.our_partners_area{
    background: #f5f5f5; 
    .partners{
        padding-top: 60px;
        padding-bottom: 90px;
        .item{
            img{
                width: 100%;
            }
        }
    }
    // Book Now Area
    .book_now_aera{
        background: $bc;
        padding:50px 0;
        .book_now{
            .booking_text{  
                padding-top: 8px;
                h4{
                    font: 700 18px $roboto;
                    color: $h2;
                }
                p{
                    font: 400 14px/26px $roboto;
                    color: $p;
                    padding-top: 5px;
                }
            }
            .book_bottun{
                a{
                    width: 200px;
                    background: #333333;
                    border-radius: 10px;
                    color: #fff;
                }
            }
        }
    }
}
/* End Our Partners Area */