/*----------------------------------------------------
@File: Default Styles
@Author: Emran Khan
@URL:https://goo.gl/k2rKhn

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below.

	1. Variables
	2. Prefix 
	3. header 
	4. Slider  
    5. Builder
    6. About
    7. Offer
    8. Feature
    9. Services
    10. Team
    11. Achievments
    12. Testimonial
    13. Gallery
    14. Blog
    15. Call
    16. Construction
    17. Min-blog
    18. 404
    19. Contact
    20. Footer
    21. Responsive


----------------------------------------------------*/
 
/*--------------------------------------------------*/
@import "variables";
/*--------------------------------------------------*/
@import "prefix";
/*--------------------------------------------------*/ 
@import "header";
/*--------------------------------------------------*/ 
@import "slider";
/*--------------------------------------------------*/ 
@import "builder";
/*--------------------------------------------------*/ 
@import "about";
/*--------------------------------------------------*/ 
@import "offer";
/*--------------------------------------------------*/ 
@import "feature";
/*--------------------------------------------------*/
@import "services";
/*--------------------------------------------------*/ 
@import "team";
/*--------------------------------------------------*/ 
@import "achievments";
/*--------------------------------------------------*/ 
@import "testimonial";
/*--------------------------------------------------*/ 
@import "gallery";
/*--------------------------------------------------*/ 
@import "blog"; 
/*--------------------------------------------------*/  
@import "call"; 
/*--------------------------------------------------*/ 
@import "construction"; 
/*--------------------------------------------------*/ 
@import "min-blog"; 
/*--------------------------------------------------*/ 
@import "404"; 
/*--------------------------------------------------*/ 
@import "contact"; 
/*--------------------------------------------------*/  
@import "footer";   
/*--------------------------------------------------*/ 
@import "responsive";
/*--------------------------------------------------*/ 