#output section{font-size:1.2em}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact%20Rounded/SF-Compact-Rounded-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
