#output section{font-size:1.2em}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SFCompact-Rounded';
    src: url('../../SF%20Compact/SFCompactRounded-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}