#output section{font-size:1.2em}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SFPro-Display';
    src: url('../../SF%20Pro/SF-Pro-Display-Ultralight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}