#output section{font-size:1.2em}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'SFPro-Text';
    src: url('../../SF%20Pro/SF-Pro-Text-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}